<header class="rounded-corners ">
  <div class="max-1800">
    <nav class="desktop-navigation">
      <div class="site-name">
        <h1 class="m-0">
          Musical <br />
          Standoff
        </h1>
      </div>

      <div class="site-logo">
        <img
          class="rotation-active circle-container img-fluid"
          src="../../assets/logo_files/png/logo-color.png"
          alt="Musical Standoff Logo"
        />
      </div>

      <ul class="nav-links p-0">
        <li class="nav-link">About</li>
        <li class="nav-link">Support</li>
        <li class="nav-link">Contact</li>
      </ul>
    </nav>
  </div>
</header>
