<header>
    <nav class="rounded-corners desktop-navigation">
    
       
        <div class="site-name pe-2">
            <h1 class="m-0">Musical Standoff</h1>

        </div>

        <div class="site-logo pe-2">
            <img class="rotation-active circle-container img-fluid" src="../../assets/logo_files/png/logo-color.png" alt="Musical Standoff Logo">

        </div>

        <ul class="nav-links p-0">
            <li>About</li>
            <li>Login</li>
            <li>Sign Up</li>
            <li>Support</li>
        </ul>
    </nav>
</header>
