<div class="w-100 d-flex justify-content-center p-3">
    <div class="row g-3">
        <div class="col-auto">
            <button class="classic-btn">
    
                Daily Challenge
    
            </button>
        </div>
    
        <div class="col-auto">
            <button class="classic-btn">
    
                Single Player
    
            </button>
        </div>
    
        <div class="col-auto">
            <button class="classic-btn">
    
                Ranked
    
            </button>
        </div>
    </div>

</div>

