@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../styles/global-variables";

.classic-btn {
  background: $yellow;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  color: $black;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  border: none;
  
  &:hover {
    background: $black;
    color: $off-white;

  }
}
